.buildingIconHolder {
    -fx-background-color: lightGrey;
    -fx-pref-height: 100;
    -fx-pref-width: 80;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: black;
}

.buildingCost{
 -fx-padding: 0 0 0 15px;
 -fx-font-weight: bold;
}




